.page-detail{
    .m-crumbs {
        margin: 20px 0;
    }
    .m-sum-card {
      display: flex;
      background: #FFF;
      box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .1);
      border-radius: 10px;
      padding: 20px;

      dt {
        flex: 1;
        padding-bottom: 5px;

        h1 {
          font-size: 26px;
          font-weight: 500;
          color: #222;
        }

        .el-rate {
          display: inline-block;

          .el-rate__icon {
            font-size: 12px;
          }
        }

        >span {
          font-size: 12px;
          margin-right: 10px;
        }

        >ul {
          border-top: 1px solid #E5E5E5;
          list-style: none;
          padding-top: 5px;
          margin-top: 10px;

          li {
            font-size: 14px;
            color: #666;
            padding: 7px 0;
          }
        }
      }

      dd {
        width: 383px;
      }
    }
    .m-detail-list {
      margin-top: 34px;
      h3{
        margin: 8px 0;
      }
      ul {
        list-style: none;
        background-color: #fff;
        padding: 20px 20px 0;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
      }
    }
    .m-detail-item{
      .section {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        align-items: center;

        dd {
          &:nth-child(1) {
            img {
              width: 100px;
              height: 100px;
              border-radius: 4px;
            }

            padding-right: 20px;
          }

          &:nth-child(2) {
            flex: 1;
          }

          >h4 {
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 480px;
            font-size: 16px;
            color: #222;
            font-weight: 500;
            height: 22px;
            line-height: 22px;
            margin-bottom: 4px;
            cursor: pointer;
          }

          >p {
            font-size: 12px;
            color: #666;
            height: 17px;
            line-height: 17px;
            margin-bottom: 22px;

            .price {
              font-size: 30px;
              color: #F60;
              margin-right: 10px;

              &:before {
                content: "￥";
                font-size: 14px;
              }
            }
          }
        }
      }

      li:last-child {
        .section {
          border-bottom: none;
        }
      }
    }
    .m-title{
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 8px;
      margin-top: 40px;
    }
    .deal-need-login {
      padding: 30px 0;
      margin-bottom: 40px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      >img{
        display: inline-block;
        width: 160px;
        height: 120px;
        border-radius: 4px;
      }
      >span{
        display: block;
        margin: 10px 0 14px;
        color: #666;
        font-size: 16px;
        line-height: 26px;
      }
      >button{
        background-color: #13D1BE;
        border-color: #13D1BE;
        a{
          color: #fff;
        }
      }
    }
}
