.page-order {
  margin-top: 20px;

  .navbar {
    background: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 20px;
    font-size: 16px;
    color: #222;
    padding: 30px 20px 0 30px;

    dd {
      font-size: 14px;
      color: #666;
      margin: 15px 0;

      >i {
        float: right;
        margin-top: 3px;
      }
    }
  }

  .table {
    background-color: #fff;
    margin-left: 10px;
    white-space: nowrap;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 20px 20px 0;

    .el-row {
      padding: 20px 0;
      height: 131px;
      border-bottom: 1px solid #E5E5E5;

      &:last-child {
        border: none;
      }

      .el-col {
        height: 90px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
          align-items: flex-start;

          h4 {
            font-size: 16px;
            color: #222;
            margin: 10px 0 10px 0;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
          }
        }
      }
    }

    img {
      width: 90px;
      height: 90px;
    }

    .m-order {
      .empty {
        text-align: center;
        padding: 30px;

      }
    }
  }
}